.filters, .meal-cards, .google-maps {
  margin:0;
  padding:0;
}

#meal-cards {
  height:65%;
  overflow: auto;
  padding: 20px 5px 10px 5px;
}

.card-header {
  padding: 5px;
}

.card {
  height: 400px;
  margin: 0px 0px 5px 0px;
}

.slider {
  margin-top: 20px;
}

.card-content {
  margin: 0;
  padding: 0;
}

#meal-card .panel {
  height: 75%;
}
#meal-card .panel .panel-image {
  height: 200px;
}

.google-maps {
  min-height:800px;
  padding:0;
}
.meals {
  height: calc(100vh - 64px);
  padding:0;
}

#meals-right {
  height: 100%;
  padding: 0;
}
.filter {
  padding: 0;
  height: 33.333%;
}

.attendees {
  width: 100px;
  height: 25px;
  margin: 5px;
}

#map {
  height:100%;
  padding:0;
}

.meals-main {
}

.filters {
  height:35%;
}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  width: calc(100% - 4rem);
  margin: 0;
  text-align: left;
}
.input-field {
  position: relative;
  min-width: 300px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 0;
}
.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}
.landing {
  margin: 0;
  width: 100%;
  height: 95%;
  position: fixed;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url('/img/background.jpg');
  background-size: 100%;
}
.smalltext {
  font-size: 15px;
}
.toggled {
  border: solid 2px black;
}
.marginFix {
  margin: 0;
  height: 50px;
}
.profilePic {
  margin: 7px 3px 0 0;
}
.foodimg {
  width: 100%;
  height: auto;
  margin: 0;
  float: left;
  z-index: -1;
  position: absolute;
  -webkit-filter: blur(3px);
}
.mealinfo {
  position: relative;
  top: 250px;
}

.title {
  padding: 15px;
  text-align: left;
  font-size: 30px;
  background-color: #727272
}
.section {
  padding-top: 0;
}
.input-field {
  border-radius: 50px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

input {
text-align: center;
}

.landingSearch {
  opacity: 0.95;
}
