.input-field input[type=search] {
  display: block;
  line-height: inherit;
  width: calc(100% - 4rem);
  margin: 0;
}
.input-field {
  position: relative;
  min-width: 300px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 0;
}
.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}