/*#user, #home, #meal {
  padding-top: 20px;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

#search {
  padding-right: 25%;
  padding-left: 25%;
  margin: 10px;
}

.headshot {
  width: 20%;
  height: 20%;
}

.validation-messages {
  font-size: 11px;
  color: darkred;
  margin: 10px 0 0 25px;
}

#user .user-details {
  padding-bottom: 10px;
  text-align: left;

.colour {
  background-color: #F0F0F0;
}

.facebook-img {
  max-height: 10px;
}

.map, #map {
  position: relative;
}

/* Meals */

#filters, #meal-cards, #google-maps {
  margin:0;
}

#filters {

}

#meal-cards {
  min-height:500px;
  overflow-y: auto;
}

#google-maps {
  min-height:800px;
  padding:0;
}

#meals-right {
  min-height:800px;
  padding-left:0px;
  padding-right:0px;
}

#meals-left {
  min-height:800px;
  padding:0;
}

#filters {
  min-height:300px;
}
.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
}
.input-field {
  position: relative;
  min-width: 300px;
  overflow: hidden;
  margin-top: 1rem;
}
.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}
