<div ng-controller="HostCtrl as host" class="landing valign-wrapper">
  <form ng-submit="host.add()" class="container valign">
    <div class="row section white ">
      <div class="center red lighten-2 white-text title col s12">Host: {{host.user.username}} <img class="right circle" ng-src="http://graph.facebook.com/v2.5/{{host.user.facebookId}}/picture?type=small"></div>
      <div class="col s8">

        <div class="col s6"> <strong>Table Title:</strong>
          <input ng-model="host.meal.title" placeholder="Give your Table a Title" type="text">
        </div>

        <div class="col s6"> <strong>Table City:</strong>
          <input ng-model="host.city" placeholder="Enter a City" type="text">
        </div>

        <div class="col s12"> <strong>Table Description:</strong>
          <textarea ng-model="host.meal.description" id="textarea1" length="120" placeholder="Describe your Table" class="materialize-textarea"></textarea>
        </div>

        <div ng-hide="host.selectedItem" class="col s12"> <strong>Restaurant:</strong>
          <a data-activates='dropdown1'   class="waves-effect waves-light btn red lighten-2 white-text dropdown-button col s12">Find Your Restaurant </a>
          <ul id="dropdown1" class="dropdown-content">
            <input ng-keyup="host.search()" placeholder="Find a place to Eat" type="text"  ng-model="host.searchEntry">
            <li>
              <div ng-click="host.selectRestaurant(restaurant)"class="collapsible-header" ng-show="host.popout" ng-repeat="restaurant in host.data"><strong>{{restaurant.name}}</strong> <span class="right">{{restaurant.city}}</div>
            </li>
          </ul>
        </div>
        <div ng-show="host.selectedItem" class="col s12"><strong>Restaurant:</strong>
          <div class="left-align"><strong>{{host.selectedItem.name}}</strong> <span ng-click="host.selectedItem=false" class="right"><a class="waves-effect waves-light btn-flat red lighten-2 white-text center"><i class="material-icons left">search</i>Find New</a></span></div>
          </div>
      </div>
      <div class="col s4"> Choose a Date
        <input ng-model="host.meal.date" placeholder="Enter your Meal Date" type="date" class="datepicker card" required>
      </div>
      <div class="col s4"> Choose a Time
        <input ng-model="host.time" placeholder="Enter your Meal Time" type="date" class="timepicker card" required>
      </div>
      <div class="col 12" ng-model="host.attendees">
        <p>Seats Available at Table</p>
        <div ng-repeat="num in host.maxAttendees">
          <a ng-class="{'toggled': host.isSelected(num)}"ng-click="host.toggleMax(num)" class="waves-effect waves-light red lighten-2 white-text center col s3 offset-s2 btn-floating">{{num}} {{host.selected}}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center col s12">
        <button ng-class="{'disabled': host.isValidMeal()}"class="center btn waves-effect waves-light red lighten-2 white-text" ng-disable="host.isValidMeal()" type="submit" name="action">Host a Table!
        <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
<script>
$('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15, // Creates a dropdown of 15 years to control year
  min: Date.now()
});
$('.timepicker').pickatime();
$('input#input_text, textarea#textarea1').characterCounter();
$('.dropdown-button').dropdown({
  inDuration: 300,
  outDuration: 225,
  constrain_width: true, // Does not change width of dropdown to that of the activator
  hover: true, // Activate on hover
  gutter: 0, // Spacing from edge
  belowOrigin: false, // Displays dropdown below the button
  alignment: 'left' // Displays dropdown with edge aligned to the left of button
});
</script>
