<div id="meal" ng-controller="MealCtrl as meal">
<!-- <h5> You are currently visiting meal: {{ meal.id }} </h5> -->
  <div class="row">
    <img class="foodimg" ng-src="img/meal.jpg"/> 
    <!-- ^ change this to refer to rasturant.image -->
  </div>

  <div class="row mealinfo">
    <div class="col s12">
      <div class="col s8"style="margin-right: 0px;">
          <div class="section white"style="height: 390px;">
              <div class="title white-text red lighten-2">{{meal.data.meal.title}}<span class="right smalltext" ng-hide="meal.eventPassed"><strong>Meal is {{meal.timeToMeal}}</strong></span></div>
              <div class="col s6">
                <div><strong>Host Name: </strong>{{meal.data.meal.User.username}}</div><br>
                <div ng-class="{ 'red-text': meal.eventPassed }"><strong>Meal Time: </strong>{{meal.data.meal.date}} </div><br>
                <div><strong>Description: </strong>{{meal.data.meal.description}}</div><br>
                <div><strong>Attendees: {{meal.data.attending.length}} / {{meal.data.meal.maxAttendees}}</strong> </div><br>
                <div ng-repeat="attendee in meal.data.attending track by $index">
                  <div class="chip"> {{attendee.username}} <img class="circle" ng-src="http://graph.facebook.com/v2.5/{{attendee.facebookId}}/picture?type=small"> </div>
                </div>
              </div>
              <div class="col s6">
                <div><strong>Restaurant name:<br> </strong>{{meal.data.meal.Restaurant.name}}<span class="right"><img class="large"ng-src="img/star{{meal.data.meal.Restaurant.rating}}.png"/></span></div><br>
                <div><strong>Address:<br> </strong>{{meal.data.meal.Restaurant.address[0]}},<br> {{meal.data.meal.Restaurant.address[2]}} <span class="right"><img class="circle"ng-src="{{meal.data.meal.Restaurant.imgUrl}}o.jpg"> </div><br>
                <div><strong>Phone Number:<br> </strong>{{meal.data.meal.Restaurant.contact}}</div><br>
                <div><strong>Website:<br> </strong><a ng-href="{{meal.data.meal.Restaurant.url}}">{{meal.data.meal.Restaurant.url}}</a></div><br>
              </div>
          </div>
      </div>
      <div class="col s4 center" style="margin-left: 0px;">
        <a ng-class="{disabled: meal.joined}" ng-disabled="meal.joined" ng-click="meal.joinMeal(meal.data.meal.id)" style="width: 100%" class="waves-effect waves-light red lighten-2 btn"><i class="material-icons left">supervisor_account</i>{{meal.joinText}}</a>
        <div id='map' style="height:350px"></div>
      </div>
    </div>
  </div>
</div>
