<!-- <br> -->
<div class="row meals" ng-controller="MealsCtrl">
  <div class="col s7" id="meals-right">
    <div class="col s12 filters">
      <div class="section filter">
        <div class="row">
          <div class="col s2">
            <p>Dates</p>
          </div>
          <div class="col s5">
            <input ng-change="checkDates()" ng-model="fromDate" placeholder="From" type="date" class="datepicker card">
          </div>
          <div class="col s5">
            <input ng-change="checkDates()"ng-model="untilDate" placeholder="Until" type="date" class="datepicker card">
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section filter">
        <div class="row">
          <div class="col s2">
            <p>Attendees</p>
          </div>
          <div class="col s6">
            <p>
              <div ng-func="filterByAttendees" slider ng-from="from" ng-to="range" start=1 end=10 step=1></div>
            </p>
          </div>
          <div class="col s4 center">
            <p> From {{from}} to {{range}} attendees</p>
          </div>
        </div>
      </div>

      <div class="divider"></div>
      <div class="section filter">
        <div class="row">
          <div class="col s2">
            <p>Food Type</p>
          </div>
          <div class="col s10">
            <input ng-keyup="filterByGenre()" ng-model="genre" type="text" placeholder="Genre">
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 grey-bg" id="meal-cards">
      <div ng-repeat="meal in meals track by $index" ng-show="meal.show" class="col card s6">
        <div class="card-image waves-effect waves-block waves-light">
          <a ui-sref="meal({mealId: meal.meal.id})">
            <img height="200" width="200" src="{{meal.meal.Restaurant.imgUrl}}"/>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <a ui-sref="meal({mealId: meal.meal.id})">
              {{meal.meal.title}}
            </a>
            <i class="material-icons right">more_vert</i>
          </span>
          <p><a href="{{meal.meal.Restaurant.url}}">{{meal.meal.Restaurant.name}}'s Website</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{meal.meal.title}} at {{meal.meal.Restaurant.name}}<i class="material-icons right">close</i></span>
          <p>From: {{meal.meal.date}}</p>
          <p>Where: {{meal.meal.Restaurant.address.join(' ')}}</p>
          <p>Number of Guests: {{meal.attending.length}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s5" id="map"></div>
  <script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
  $('.timepicker').pickatime();
  $('input#input_text, textarea#textarea1').characterCounter();

  </script>
</div>
